.open-sans-Raleway{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: aliceblue;
}
header{
    background-image: url('/Assets/Hero-bg.png');
 
  
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* shared styles */
.primary-color{
    color: #4E47FF;
}
.sec-color{
    color:rgba(37, 36, 50, 0.5);
}
.primary-btn{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    border-radius:10px ;
    cursor: pointer;
    
}
.primary-btn-2{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    border-radius:10px ;
    cursor: pointer;
    width: 497px;
    height: 62px;
}
button:hover{
    background-color: aqua;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
   justify-content:space-between;
    margin: 0px 150px;
}
.nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight: bold;
}
/* banner style */
.banner{
   text-align: center;
   margin: 100px 100px;
}
.banner button{
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    width: 950px;
    height: 152px;
    margin:0px auto;
}
/* Action section */
.action-section{
    display: flex;
    justify-content: center;
    width: 1100;
    height: 328px;
    gap: 600px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-subtitle{
    font-size: 24px;
    color:rgba(37, 36, 50, 0.5);
    width: 517px;
    height: 60px;
}
.action-img{
    border-radius: 48px;
    width:403;
    height:328px;
}
/* productive-users */
.productive-users{
    background-color: rgba(78, 71, 255, 0.1);  
    padding: 2px;
    border-radius: 24px;
}   
.centered-title{
font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.users-items{
display: flex;
justify-content: space-around;
}
.users-no{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    

}
.users-status{
    font-size: 20px;
    color:rgba(37, 36, 50, 0.5);
}
/* User feedback section */
.feedback-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.comment-items{
    display: flex;
    gap: 20px;
}
.comment-cards{
    height: 243px;
    width: 366px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 24px;
    border-radius: 14px;
    /* border: 1px solid burlywood; */
    box-shadow: 5px 5px 10px rgba(222, 184, 135, 0.491);
}
.review-stars{
    width: 20px;
    height: 20px;
}
.review-items{
display: flex;
align-items: center;
gap: 10px;
}
.review-pic{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}
.review-items{
    margin: none;
    gap: none;
}
/* Focus Section */
.focus-section{
    background-color: #FFFFFF;
    height: 696.77px;
     /* padding: 150px 71px; */
     border-radius: 14px;
    
}
.focus-items{
    text-align: center;
}
.focus-title{
    font-size: 50px;
    font-weight: bold;
}
.focus-des{
color: rgba(0, 0, 0, 0.5);
}
.focus-img{
    width: 840px;
    height: 365.77px;
    border-radius: 48px;
    margin: 0px 150px;
    margin-top: 20px;
}
/* Touch Section  */
.touch-section{
    display: flex;
    height: 632px;
}
.touch-intro{
    font-size: 97px;
    font-weight: bold;
}

.touch-section input[type="text"], .touch-section input[type="email"], .touch-section textarea{
    display: block;
    padding: 20px 32px;
    background-color:#FFFFFF;
    border: none;
    width: 428px;
    margin-bottom: 20px;
    border-radius: 10px;
}
/* Footer */
footer{
    height: 428px;
    background-color: #FFFFFF;
}

.footer-title{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    text-align: center;
}
.footer-des{
    width: 531px;
    height: 48px;
    color: #8987A1;
    text-align: center;
    margin: 0px auto;
}
.footer-info {
    display: flex;
   justify-content: center;
    color: #4E47FF;
}
.footer-info p {
    text-align: center;
    margin: 10px;
}