.open-sans-Raleway{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: aliceblue;
}
header{
    background-image: url('/Assets/Hero-bg.png');
 
  
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* shared styles */
.primary-color{
    color: #4E47FF;
}
.sec-color{
    color:rgba(37, 36, 50, 0.5);
}
.primary-btn{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    border-radius:10px ;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
   justify-content:space-between;
    margin: 0px 150px;
}
.nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight: bold;
}
/* banner style */
.banner{
   text-align: center;
   margin: 100px 100px;
}
.banner button{
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    width: 950px;
    height: 152px;
    margin:0px auto;
}
